* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.promo {
  height: 800px;
  background: url("../img/main.png") center center/cover no-repeat;
  padding: 39px 0 62px 0;
}

.logo .logo_img {
  display: block;
  margin: 0 auto;
}

.logo .logo_text {
  color: white;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 1000;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 14px;
}
h1 {
  margin-top: 53px;
}
.title {
  color: #f9bf3b;
  font-family: Roboto-Black, AdobeInvisFont, MyriadPro-Regular;
  font-size: 41px;
  font-weight: 400;
  line-height: 41px;
  text-transform: uppercase;
  text-align: center;
}

h2.title {
  margin-top: 30px;
}

.title--big {
  margin: 10px 0;
  line-height: 85px;

  color: #ffffff;
  font-family: Roboto-Black;
  font-size: 80px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin-top: 21px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.title--big::after {
  content: "";
  position: relative;
  margin-left: 20px;

  height: 5px;
  display: block;
  flex-grow: 1;

  background-color: #fff;
}

.title--big::before {
  content: "";
  position: relative;
  margin-right: 20px;

  height: 5px;
  display: block;
  flex-grow: 1;

  background-color: #fff;
}

.promo .promo__text {
  margin-top: 23px;
  padding: 0 13px 13px 0;
  color: #ffffff;
  font-family: Roboto-Black;
  font-size: 21px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
  margin-top: 21px;
}

.promo .promo__text span {
  color: #f9bf3b;
  font-family: Roboto-Black, AdobeInvisFont, MyriadPro-Regular;
  font-weight: 700px;
}

.promo .promo_btn {
  width: 313px;
  height: 72px;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.18);
  border: solid 4px rgba(0, 0, 0, 0.23);
  background-image: linear-gradient(to top, #2798b9, #3ab6da);
  display: block;
  margin: 0 auto;
  margin-top: 73px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

.more {
  margin-top: 73px;
}
.more .more_text {
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.6;
  text-align: center;
}

.more .more_img {
  display: block;
  margin: 0 auto;
  margin-top: 13px;
}

.waiting {
  height: 604px;
  background-color: #efefef;
  padding: 85px 0 75px 0;
}

.waiting .waiting_header {
  color: black;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.waiting .waiting_divider {
  width: 217px;
  height: 4px;
  background-color: #f9bf3b;
  margin: 0 auto;
  margin-top: 23px;
}

.waiting .waiting_subheader {
  color: black;
  font-family: Roboto;
  font-size: 23px;
  text-align: center;
  margin-top: 21px;
}

.waiting .waiting_wrapper {
  margin-top: 51px;
}

.waiting .waiting_wrapper .waiting_item {
  width: 339px;
  vertical-align: top;
  margin: 0 15px;
  text-align: center;
  display: inline-block;
}

.waiting__image {
  width: 100%;
  height: 200px;

  background-repeat: no-repeat;
  background-size: contain;
}

.waiting__image--first {
  background-image: url(../icons/display_1.png);
}

.waiting .waiting_wrapper .waiting_item .waiting_descr {
  color: black;
  margin-top: 36px;
  font-size: 15px;
  font-family: Roboto;
  font-weight: 300;
}
